body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fafafa;
    overflow-y: hidden;
}

p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
	min-width: 350px;
    max-width: 350px;
    min-height: 100vh;
    color: #444;;
    transition: all 0.3s;
}


#sidebar .sidebar-body {
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: stretch;
	float:right;
}

#content{
	float:right;
}

#sidebar.unactive {
    display:none;
}

#sidebar.active {
    display:block;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

#sidebar .sidebar-header .title{
    padding: 16px;
    color: #999;
    font-weight: 600;
}

.form-group{
    margin-bottom: 10px;
}

.form-group label{
    width: 50px;
    display:inline-block;
}

.form-group label.radio-inline{
   display: inline;
}

.form-group select, .form-group input {
    margin-left: 30px;
}

#sidebarCollapse{
    background-color: #2ebae6; /* Green */
    border: none;
    color: white;
    height: 42px;
    width: 42px;
    line-height: 38px;
    font-size:1.4em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
